<!doctype html>
<html lang="ko">

<%- include('../header/header'); %>

<body>
	<!--[if lt IE 7]>
<p class="cm-alert-ie">현재 웹브라우저에서는 사이트가 정상적으로 표시되지 않을 수 있습니다. <strong><a href="http://browsehappy.com/" target="_blank">여기를 클릭</a></strong>하여 웹브라우저를 업그레이드 하세요.</p>
<![endif]-->
	<!-- accessibility -->
	<div class="cm-accessibility">
		<a href="#mainContainer">본문바로가기</a>
	</div>
	<!-- //accessibility -->

	<!-- code -->
	<div id="wrap">

		<%- include('../header/navi'); %>

		<!-- container -->
		<div id="mainContainer">
			<!-- visual -->
			<section id="visual"
				style="background:url(/images/header.png) no-repeat center center; background-size: cover;">
				<div class="sub-visual-box area">
					<div class="sub-visual-inner">
						<h2>About us</h2>
					</div>
				</div>
			</section>
			<!-- //visual -->
			<!-- middleArea -->
			<div id="middleArea" class="area">
				<div class="contents">

					<h1 class="h1tit mgt0 wow fadeInUp" data-wow-delay=".1s"
						style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
						더불어 살아가는 세상을 위해
					</h1>
					<h1 class="h1tit mgt0 wow fadeInUp" data-wow-delay=".2s"
						style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
						국민의 안전과 삶의 질 향상을 위해
					</h1>
					<h1 class="h1tit mgt0 wow fadeInUp" data-wow-delay=".3s"
						style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
						창의적인 아이디어를 위해
					</h1>
					<h1 class="h1tit mgt0 wow fadeInUp" data-wow-delay=".4s"
						style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
						끊임없이 연구하고 노력하겠습니다.
					</h1>
					<p class="wow fadeInUp" data-wow-delay=".5s"
						style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
						유니자니 협동조합은 <br />
						국민들의 삶의 질 향상을 첫 번째로 생각하여, <br />
						사회적 문제를 우선 해결하기 위해 <br />
						최선을 다하고 있습니다. <br />
					</p>

					<h1 class="h1tit wow fadeInUp" data-wow-delay=".1s"
						style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">유니자니ː로고의 의미</h1>
					<div class="img_normal wow fadeInUp" data-wow-delay=".2s"
						style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
						<div class="img" style="   background: url(/images/logo_v.png);
												width: 100%;
												height: 300px;
												background-repeat: no-repeat;
												background-position: 50px center;">
							<div class="txt">
								<h3></h3>
								<h3>화살표(손) : “ <strong>한사람 한사람의 힘을 모아</strong> ”</h3>
								<h3>여러개의 화살표 : “ <strong>협력, 다 같이 어우러져</strong> ”</h3>
								<h3>풍선 : “ <strong>목표를 향해 올라가자</strong> ”</h3>

								<p>공동의 이익을 위해 다같이 어우러져 목표를 향해 나아가는 기업입니다.</p>
							</div>
						</div>
					</div>
					<h1 class="h1tit wow fadeInUp" data-wow-delay=".1s"
						style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">Certification & Patent
					</h1>
					<div class="img_normal" style="margin-top: 40px; /*padding: 20px; background: #bde1ed;*/">
						<div class="imgcont wow fadeInUp" data-wow-delay=".2s"
							style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
							<div class="img">
								<img src="/images/cer1.png" class="pc" alt="">
							</div>
						</div>
						<div class="imgcont wow fadeInUp" data-wow-delay=".3s"
							style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
							<div class="img">
								<img src="/images/cer2.png" class="pc" alt="">
							</div>
						</div>
						<div class="imgcont wow fadeInUp" data-wow-delay=".4s"
							style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
							<div class="img">
								<img src="/images/cer3.png" class="pc" alt="">
							</div>
						</div>
					</div>

					<div style="background: url(/images/mem.png); width: 100%; height: 900px; background-size: contain; position: relative; margin-top: 50px;"  class="wow fadeInUp">
						<div class="member">
							<div class="inner_text right">
								<div>자신감보다</div> 
								<div>중요한건</div>
								<div>책임감이다</div>
							</div>
						</div>
						<div class="member">
							<div class="inner_text right">
								<div>뒤돌아보지않는다</div> 
								<div>앞으로</div>
								<div>갈 길이 멀기에</div>
							</div>
						</div>
						<div class="member">
							<div class="inner_text">
								<div>누구보다 빠르게</div> 
								<div>남들과는 다르게</div>
								<div>생각을 행동으로</div>
							</div>
						</div>
						<div class="member">
							<div class="inner_text">
								<div>성장하고</div> 
								<div>발전하는 삶</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //middleArea -->
		</div>
		<!-- //container -->

		<script src="/js/about.js"></script>
		<script src="/js/wow.min.js"></script>
		<script>
			$(function () {
				new WOW().init();
			});

			var filpSwiper = new Swiper('.filp_img .swiper-container', {
				effect: 'flip',
				flipEffect: {
					slideShadows: true,
					limitRotation: true,
				},
				pagination: {
					el: '.filp_img .filp-pagination',
					clickable: true,
				},
				autoplay: {
					delay: 3000,
				},
				loop: true,
				on: {
					slideChangeTransitionStart: function () {
						$('.filp_img_box .vision_cont').removeClass('active');
						$('.filp_img_box .icon' + (this.realIndex + 1)).addClass('active');
					},
				},
			})
		</script>
		<%- include('../footer/footer'); %>

	</div>
	<!-- //code -->


</body>

</html>