
<!doctype html>
<html lang="ko">

    <%- include('header/header'); %>

<body>
<!--[if lt IE 7]>
<p class="cm-alert-ie">현재 웹브라우저에서는 사이트가 정상적으로 표시되지 않을 수 있습니다. <strong><a href="http://browsehappy.com/" target="_blank">여기를 클릭</a></strong>하여 웹브라우저를 업그레이드 하세요.</p>
<![endif]-->
<!-- accessibility -->
<div class="cm-accessibility">
	<a href="#mainContainer">본문바로가기</a>
</div>
<!-- //accessibility -->

<!-- code -->
<div id="wrap">
	
    <%- include('header/navi'); %>

	<!-- container -->
	<div id="mainContainer">
		<!-- visual -->
		<section id="mainVisual">
			<ul class="visual-img">
				<li class="first">
					<div class="visual-img-inner">
						<span><img src="/images/bg.png" alt="" /></span>
					</div>
				</li>
			</ul>
			<article class="visual-inner">
				<!-- <div class="visual-txt area" style="transition-delay:0.2s;">
					<h2 style="transition-delay:0.4s;">───── <span>유니자니</span></h2>
					<strong style="transition-delay:0.6s;">───── / ───── / ─────</strong>
					<p style="transition-delay:0.8s;">───────────────────────────────────────────</p>
				</div> -->
				<div id="visualList">
					<ul class="visual-animation-list">
						<li class="v-list01" onclick="location.href='/about'">
							<div class="main-scroll-simbol">
								<div class="circle-animation">
									<div class="loader-inner ball-scale-multiple" style="transition-delay:1.2s;">
										<div></div>
										<div></div>
										<div></div>
									</div>
									<div class="list-box" style="transition-delay:1.3s;">
										<div class="list-txt-thum">
											<img src="/images/vlist_off_img01.png" alt="" />
											<div class="txt-inner trans400">
												<h3>About us</h3>
											</div>
										</div>
										<div class="list-bg trans300">
											<img src="/images/vlist_on_img01.jpg" alt="" class="trans300"/>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="v-list02" onclick="location.href='/business'">
							<div class="main-scroll-simbol">
								<div class="circle-animation">
									<div class="loader-inner ball-scale-multiple" style="transition-delay:1.4s;">
										<div></div>
										<div></div>
										<div></div>
									</div>
									<div class="list-box" style="transition-delay:1.5s;">
										<div class="list-txt-thum">
											<img src="/images/vlist_off_img02.png" alt=""/>
											<div class="txt-inner trans400">
												<h3>Business</h3>
											</div>
										</div>
										<div class="list-bg trans300">
											<img src="/images/vlist_on_img02.jpg" alt="" class="trans300"/>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="v-list06" onclick="location.href='/news'">
							<div class="main-scroll-simbol">
								<div class="circle-animation">
									<div class="loader-inner ball-scale-multiple" style="transition-delay:1.6s;">
										<div></div>
										<div></div>
										<div></div>
									</div>
									<div class="list-box" style="transition-delay:1.7s;">
										<div class="list-txt-thum">
											<img src="/images/vlist_off_img03.png" alt=""/>
											<div class="txt-inner trans400">
												<h3>News</h3>
											</div>
										</div>
										<div class="list-bg trans300">
											<img src="/images/vlist_on_img03.jpg" alt="" class="trans300"/>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="v-list04" onclick="">
							<div class="main-scroll-simbol">
								<div class="circle-animation">
									<div class="loader-inner ball-scale-multiple" style="transition-delay:2.0s;">
										<div></div>
										<div></div>
										<div></div>
									</div>
									<div class="list-box" style="transition-delay:2.1s;">
										<div class="list-txt-thum">
											<img src="/images/vlist_off_img04.png" alt=""/>
											<div class="txt-inner trans400">
												<h3>Store</h3>
											</div>
										</div>
										<div class="list-bg trans300">
											<img src="/images/vlist_on_img04.jpg" alt="" class="trans300"/>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="v-list05" onclick="location.href='/contact'">
							<div class="main-scroll-simbol">
								<div class="circle-animation">
									<div class="loader-inner ball-scale-multiple" style="transition-delay:2.2s;">
										<div></div>
										<div></div>
										<div></div>
									</div>
									<div class="list-box" style="transition-delay:2.3s;">
										<div class="list-txt-thum">
											<img src="/images/vlist_off_img05.png" alt=""/>
											<div class="txt-inner trans400">
												<h3>Contact</h3>
											</div>
										</div>
										<div class="list-bg trans300">
											<img src="/images/vlist_on_img05.jpg" alt="" class="trans300"/>
										</div>
									</div>
								</div>
							</div>
						</li>
						
					</ul>
				</div>
			</article>
			<span class="icon-scroll"><img src="/images/icon/icon_scroll.png" alt="SCROLL DOWN" /></span>
		</section>
		<!-- //visual -->
		<!-- content -->
		<section id="mainContent">
			
		</section>
		<!-- //content -->
	</div>
	<!-- //container -->
	
    <%- include('footer/footer'); %>

</div>
<!-- //code -->


</body>
</html>