<!-- footer -->
<footer id="footer">
    <div id="footerTop">
        <a href="#wrap" class="to-top-btn"><img src="/images/button/btn_top.png" alt="TOP"></a>
    </div>
    <div id="footerBottom" class="area">
        <span class="footer-logo"><img src="/images/logo_v.png"></span>
        <p>
            업체명 : 유니자니 협동조합</br>
            사업자번호 : 872-81-01854</br>
            주소 : 서울시 강북구 한천로 1003, 1001호 (포르텔)</br>
            대표전화 : 02-902-0292</br>
            E-mail : unyjany@gmail.com</br>
        </p>
        <p>COPYRIGHT(C)2020 UNYJANY ALL RIGHT RESERVED</p>
    </div>
</footer>

<!-- 모달 레이어팝업 -->
<article class="modal-fixed-pop-wrapper">
    <div class="modal-fixed-pop-inner">
        <div class="modal-loading"><span class="loading"></span></div>
        <div class="modal-inner-box">
            <div class="modal-inner-content">
                <!-- ajax 내용 -->
            </div>
        </div>
    </div>
</article>
<!-- //footer -->