<!-- header -->
<header id="header">
    <div id="headerInner">
        <div class="header-box">
            <h1 class="logo"><a href="/"><img src="/images/logo.png" alt="" /></a></h1>
            <h1 class="fixed-logo"><a href="/"><img src="/images/logo.png" width="200px" alt="" /></a></h1>
            
            <a href="#none" class="nav-open-btn" title="메뉴열기">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
                <span class="line line4"></span>
            </a>
        </div>
        <nav id="gnb">
            <div id="gnbPcBg"></div>
            <ul class="clearfix" style="float: right;">
                <li class="gnb1">
                    <a href="/about">About us</a>
                    <!-- <ul class="gnb-2dep">
                        <li><a href="#">내용1</a></li>
                        <li><a href="#">내용2</a></li>
                        <li><a href="#">내용3</a></li>
                        <li><a href="#">내용4</a></li>
                    </ul> -->
                </li>
                <li class="gnb2">
                    <a href="/business">Business</a>
                    <!-- <ul class="gnb-2dep">
                        <li><a href="#">내용1</a></li>
                        <li><a href="#">내용2</a></li>
                        <li><a href="#">내용3</a></li>
                        <li><a href="#">내용4</a></li>
                    </ul> -->
                </li>
                <li class="gnb3">
                    <a href="/news">News</a>
                    <!--
                    <ul class="gnb-2dep">
                        <li><a href="#">내용1</a></li>
                        <li><a href="#">내용2</a></li>
                        <li><a href="#">내용3</a></li>
                        <li><a href="#">내용4</a></li>
                    </ul>
                    -->
                <li class="gnb4">
                    <a href="#">Store</a>
                </li>

                <li class="gnb5">
                    <a href="/contact">Contact</a>
                    <!-- <ul class="gnb-2dep">
                        <li><a href="/contact/inquiry">고객지원</a></li>
                    </ul> -->
                </li>
            </ul>
        </nav>
    </div>
    <div id="gnbBg"></div>
</header>
<!-- //header -->